body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    width: 800px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 5px;
    padding-bottom: 20px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit h4 {
  margin-top: 2px;
}

.example {
  border-style: solid;
  border-radius: 5px;
  padding: 3px;
  margin-top: 4px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

.scope-title {
  background-color: grey;
}
