<div class="hero-unit">
  <h1>Let's figure out how to test a directive</h1>
  <p>We now have</p>
  <ul>
      <li ng-repeat="item in stuff">{{item}}</li>
  </ul>
  <p>But can we render them with a directive?</p>
  <div class="example">
    <h4>We can render "Hello world!" with a hello directive</h4>
    <span><b>&lsaquo;hello&rsaquo;&lsaquo;/hello&rsaquo;</b> becomes:</span>
    <hello></hello>
  </div>
  <div class="example">  
    <h4>We can also render "Hello world!" with a URL based template</h4>
    <span><b>&lsaquo;hello-url&rsaquo;&lsaquo;/hello-url&rsaquo;</b> becomes:</span>
    
    <hello-url></hello-url>
  </div>
  <div class="example">  
    <h4>We can transclude in place text</h4>
    <span>So <b>&lsaquo;div hello-transclude &rsaquo;Dave&lsaquo;/div&rsaquo;</b> becomes:</span>
    <div hello-transclude>Dave</div>
  </div>
  <div class="example">
    <h4>A directive can have an internal function</h4>
    <span>So <b>&lsaquo;hello-with-internal-function &rsaquo;Dave&lsaquo;/hello-with-internal-function&rsaquo;</b> becomes:</span>
    <hello-with-internal-function counter-start="20"></hello-with-internal-function>
  </div>
  
</div>
